<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.2.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d554e1ce6974e6a50b211cb82f4734b:2cce8b3cddfba31451302efc1228f1d7:f515368ffd39bd54eb74cdcf09c7da51$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>embarassed.1.png</string>
                <key>size</key>
                <string>{3872,1408}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00052.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00051.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00050.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00049.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1,1057},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00048.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00047.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00046.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00045.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,1057},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00044.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{705,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00043.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{705,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00042.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{705,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00041.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{705,1057},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00040.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1057,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00039.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1057,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00038.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1057,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00037.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1057,1057},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00036.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1409,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00035.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1409,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00034.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1409,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00033.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1409,1057},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00032.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1761,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00031.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1761,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00030.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1761,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00029.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1761,1057},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00028.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2113,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00027.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2113,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00026.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2113,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00025.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2113,1057},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00024.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2465,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00023.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2465,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00022.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2465,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00021.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2465,1057},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00020.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2817,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00019.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{3169,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00018.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{3521,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00016.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2817,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00017.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2817,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00015.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2817,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00014.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2817,1057},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00013.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{3169,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00012.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{3521,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00011.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{3169,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00010.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{3169,1057},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00009.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{3521,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-embarrassed_00008.png</string>
                        <key>spriteOffset</key>
                        <string>{23,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{3521,1057},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
