<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.2.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21a4b0133fdae55e4b5c13bc49fa2613:cd2328e99a21a2f93306597f4b1774fc:535c5d1fe17d47f34a0aab3b121b4111$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>proud_small.1.png</string>
                <key>size</key>
                <string>{1956,1056}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00089.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00088.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{179,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00087.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00086.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{535,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00085.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{713,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00084.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{891,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00083.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1069,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00082.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1247,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00081.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1425,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00080.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1603,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00079.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1781,1},{174,176}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00078.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1,177},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00077.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{179,177},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00076.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,177},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00075.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{535,177},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00074.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{713,177},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00073.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{891,177},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00072.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1069,177},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00071.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1247,177},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00070.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1425,177},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00069.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1603,177},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00068.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1781,179},{174,176}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00067.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1,353},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00066.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{179,353},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00065.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,353},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00064.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{535,353},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00063.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{713,353},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00062.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{891,353},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00061.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1069,353},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00060.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1247,353},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00059.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1425,353},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00058.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1603,353},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00057.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1781,357},{174,176}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00056.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1,529},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00055.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{179,529},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00054.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,529},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00053.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{535,529},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00052.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{713,529},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00051.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{891,529},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00050.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1069,529},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00049.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1247,529},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00048.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1425,529},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00047.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1603,529},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00046.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1781,535},{174,176}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00045.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1,705},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00044.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{179,705},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00043.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,705},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00042.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{535,705},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00041.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{713,705},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00040.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{891,705},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00039.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1069,705},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00038.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1247,705},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00037.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1425,705},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00036.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1603,705},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00035.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1781,713},{174,176}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00034.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1,881},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00033.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{179,881},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00032.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,881},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00031.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{535,881},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00030.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{713,881},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00029.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{891,881},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00028.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1069,881},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00027.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1247,881},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-proud_00026.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1425,881},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
