<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.2.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d1c5fe8c3fbc483ad048ff99e8ede6b:cb969628413a93ab418b7929e579cae0:970e8d454c8ef54411a57d1a4d6d5c92$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>happy.1.png</string>
                <key>size</key>
                <string>{1056,704}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00035.png</string>
                        <key>spriteOffset</key>
                        <string>{22,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00042.png</string>
                        <key>spriteOffset</key>
                        <string>{22,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00049.png</string>
                        <key>spriteOffset</key>
                        <string>{22,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00034.png</string>
                        <key>spriteOffset</key>
                        <string>{22,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00041.png</string>
                        <key>spriteOffset</key>
                        <string>{22,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00048.png</string>
                        <key>spriteOffset</key>
                        <string>{22,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00033.png</string>
                        <key>spriteOffset</key>
                        <string>{22,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00040.png</string>
                        <key>spriteOffset</key>
                        <string>{22,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00047.png</string>
                        <key>spriteOffset</key>
                        <string>{22,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00032.png</string>
                        <key>spriteOffset</key>
                        <string>{22,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00039.png</string>
                        <key>spriteOffset</key>
                        <string>{22,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00046.png</string>
                        <key>spriteOffset</key>
                        <string>{22,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00031.png</string>
                        <key>spriteOffset</key>
                        <string>{22,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{705,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00038.png</string>
                        <key>spriteOffset</key>
                        <string>{22,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{705,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00045.png</string>
                        <key>spriteOffset</key>
                        <string>{22,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{705,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00030.png</string>
                        <key>spriteOffset</key>
                        <string>{22,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{705,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00036.png</string>
                        <key>spriteOffset</key>
                        <string>{22,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{705,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00037.png</string>
                        <key>spriteOffset</key>
                        <string>{22,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{705,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00043.png</string>
                        <key>spriteOffset</key>
                        <string>{22,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{705,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00044.png</string>
                        <key>spriteOffset</key>
                        <string>{22,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{705,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
