<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.9.4 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecfda4d954e3927220db0b56197194bb:5516a84018094281c683be3a4ceb527f:7ea0e51bda27cc753b75a1228abf2f3d$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>guilty.1.png</string>
                <key>size</key>
                <string>{2457,1755}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_00.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_01.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{352,1},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_02.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{703,1},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_03.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{1054,1},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_04.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{1405,1},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_05.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{1756,1},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_06.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{2107,1},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_07.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{1,352},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_08.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{352,352},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_09.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{703,352},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_10.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{1054,352},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_11.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{1405,352},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_12.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{1756,352},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_13.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{2107,352},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_14.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{1,703},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_15.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{352,703},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_16.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{703,703},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_17.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{1054,703},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_18.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{1405,703},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_19.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{1756,703},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_20.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{2107,703},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_21.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{1,1054},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_22.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{352,1054},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_23.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{703,1054},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_24.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{1054,1054},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_25.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{1405,1054},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_26.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{1756,1054},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_27.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{2107,1054},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_28.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{1,1405},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_29.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{352,1405},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_30.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{703,1405},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_31.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{1054,1405},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_32.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{1405,1405},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_33.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{1756,1405},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>guilty_34.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{350,350}</string>
                        <key>textureRect</key>
                        <string>{{2107,1405},{349,349}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
