<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.2.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6cab731b7d069ef9c7be71803608295:6114a7c42f0c09681ab8712ebe8cb398:a541e5fd18ec64770f04b5f99b55288d$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>happy_small.1.png</string>
                <key>size</key>
                <string>{890,178}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00030.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{176,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00036.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{176,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00037.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{176,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00043.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{176,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00044.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{176,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00031.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{179,1},{176,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00034.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{179,1},{176,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00038.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{179,1},{176,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00041.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{179,1},{176,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00045.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{179,1},{176,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00048.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{179,1},{176,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00032.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,1},{176,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00039.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,1},{176,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00046.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,1},{176,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00033.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{535,1},{176,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00040.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{535,1},{176,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00047.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{535,1},{176,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00035.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{713,1},{176,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00042.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{713,1},{176,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-happy_00049.png</string>
                        <key>spriteOffset</key>
                        <string>{10,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{713,1},{176,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
