<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.2.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96d383d8542cf367262f7c8f8424e5f6:62be9aeaeb3a1fbd31f4f7b40cba53e2:7b5aa00a7356b6850fe391410d45c798$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>depressed_small.1.png</string>
                <key>size</key>
                <string>{1956,880}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00087.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00088.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00086.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{179,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00080.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00081.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00082.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00083.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00084.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00085.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00079.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{535,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00076.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{713,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00077.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{713,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00078.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{713,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00075.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{891,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00074.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1069,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00073.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1247,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00072.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1425,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00071.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1603,1},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00070.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1781,1},{174,176}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00069.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1,177},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00068.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{179,177},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00067.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,177},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00066.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{535,177},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00065.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{713,177},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00064.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{891,177},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00063.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1069,177},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00062.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1247,177},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00061.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1425,177},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00060.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1603,177},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00059.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1781,179},{174,176}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00058.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1,353},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00057.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{179,353},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00054.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,353},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00055.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,353},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00056.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,353},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00053.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{535,353},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00052.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{713,353},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00051.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{891,353},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00050.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1069,353},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00049.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1247,353},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00048.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1425,353},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00047.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1603,353},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00046.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1781,357},{174,176}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00045.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1,529},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00044.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{179,529},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00043.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,529},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00042.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{535,529},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00041.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{713,529},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00040.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{891,529},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00039.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1069,529},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00038.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1247,529},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00037.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1425,529},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00036.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1603,529},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00035.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1781,535},{174,176}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00034.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1,705},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00033.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{179,705},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00032.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,705},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00031.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{535,705},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00030.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{713,705},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00029.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{891,705},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00028.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1069,705},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00027.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1247,705},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-depressed_00026.png</string>
                        <key>spriteOffset</key>
                        <string>{9,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1425,705},{176,174}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
