<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.2.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80e85dc51aed922b58120af5b75de7a3:f460f62efd96f515d692a0a56c10d6c2:3fd687ceece4c8557cea9631026a6289$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>angry.1.png</string>
                <key>size</key>
                <string>{3168,1056}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00058.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00057.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00056.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00055.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00054.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00053.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00052.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{705,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00051.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{705,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00050.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{705,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00049.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1057,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00048.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1057,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00047.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1057,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00046.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1409,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00045.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1409,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00044.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1409,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00043.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1761,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00042.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1761,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00041.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1761,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00040.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2113,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00037.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2113,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00038.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2113,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00039.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2113,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00036.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2113,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00035.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2465,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00034.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2817,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00033.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2465,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00032.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2465,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00031.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2817,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00030.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2817,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00059.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2817,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-angry_00060.png</string>
                        <key>spriteOffset</key>
                        <string>{21,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{2817,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
