<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.2.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cfa12a18bd77f9e0e6d855d7a5d78eb:66e6b362547e5d66e9d008f2b0378d71:c4c731260a19f6ff8516700816bb112b$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>frustrated.1.png</string>
                <key>size</key>
                <string>{1760,1056}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00056.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00055.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00057.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00054.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00058.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00046.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00047.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00048.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00049.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00050.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00051.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00052.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00053.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00059.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00045.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00044.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00043.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{705,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00039.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{705,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00038.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{705,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00040.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{705,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00037.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1057,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00041.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1057,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00032.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1409,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00033.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1409,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00034.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1409,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00035.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1409,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00036.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1409,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00042.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1409,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00031.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1057,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00030.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1057,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-frustrated_00029.png</string>
                        <key>spriteOffset</key>
                        <string>{24,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1409,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
