<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.2.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc1c2141cdbb2ca3652258484cf4a683:a82163c2c99566ca45b620c6df220e2b:b874409a3fe362dbfd7946c6fef4a331$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>confused_small.1.png</string>
                <key>size</key>
                <string>{1780,800}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00038.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{176,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00039.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{179,1},{176,176}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00040.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,1},{176,188}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00041.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{535,1},{176,196}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00042.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{713,1},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00043.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{891,1},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00044.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1069,1},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00045.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1247,1},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00046.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1425,1},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00047.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1603,1},{176,196}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00048.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1,201},{176,196}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00049.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{179,201},{176,194}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00050.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,201},{176,194}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00051.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{535,201},{176,192}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00052.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{713,201},{176,192}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00053.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{891,201},{176,192}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00054.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1069,201},{176,194}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00055.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1247,201},{176,194}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00056.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1425,201},{176,196}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00057.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1603,201},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00058.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1,401},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00059.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{179,401},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00060.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,401},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00061.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{535,401},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00062.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{713,401},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00063.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{891,401},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00064.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1069,401},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00065.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1247,401},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00066.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1425,401},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00067.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1603,401},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00068.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1,601},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00069.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{179,601},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00070.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{357,601},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00071.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{535,601},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00072.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{713,601},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00073.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{891,601},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00074.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1069,601},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00075.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1247,601},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confused_00076.png</string>
                        <key>spriteOffset</key>
                        <string>{11,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{200,200}</string>
                        <key>textureRect</key>
                        <string>{{1425,601},{176,198}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
