<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angry</key>
	<dict>
		<key>fps</key>
		<integer>30</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,30}</string>
		</array>
	</dict>
	<key>annoyed</key>
	<dict>
		<key>fps</key>
		<integer>30</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,25}</string>
      <string>{25,0}</string>
		</array>
	</dict>
	<key>anxious</key>
	<dict>
		<key>fps</key>
		<integer>25</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,25}</string>
		</array>
	</dict>
	<key>bored</key>
	<dict>
		<key>fps</key>
		<integer>25</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,25}</string>
			<string>{25,0}</string>
		</array>
	</dict>
	<key>brave</key>
	<dict>
		<key>fps</key>
		<integer>35</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,58}</string>
		</array>
	</dict>
	<key>cautious</key>
	<dict>
		<key>fps</key>
		<integer>30</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,19}</string>
      <string>{19,0}</string>
		</array>
	</dict>
	<key>confident</key>
	<dict>
		<key>fps</key>
		<integer>30</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,30}</string>
			<string>{30,0}</string>
		</array>
	</dict>
	<key>confused</key>
	<dict>
		<key>fps</key>
		<integer>30</integer>
		<key>intro</key>
		<array>
		</array>
		<key>loop</key>
		<array>
			<string>{0,30}</string>
			<string>{30,0}</string>
		</array>
	</dict>
	<key>depressed</key>
	<dict>
		<key>fps</key>
		<integer>30</integer>
		<key>intro</key>
		<array>
		</array>
		<key>loop</key>
		<array>
			<string>{0,30}</string>
			<string>{30,0}</string>
		</array>
	</dict>
	<key>disgusted</key>
	<dict>
		<key>fps</key>
		<integer>25</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,25}</string>
			<string>{25,0}</string>
		</array>
	</dict>
	<key>embarrassed</key>
	<dict>
		<key>fps</key>
		<integer>30</integer>
		<key>intro</key>
		<array>
		</array>
		<key>loop</key>
		<array>
			<string>{0,30}</string>
			<string>{30,0}</string>
		</array>
	</dict>
	<key>excited</key>
	<dict>
		<key>fps</key>
		<integer>25</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,25}</string>
			<string>{25,0}</string>
		</array>
	</dict>
	<key>exhausted</key>
	<dict>
		<key>fps</key>
		<integer>30</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,23}</string>
      <string>{23,0}</string>
		</array>
	</dict>
	<key>fine</key>
	<dict>
		<key>fps</key>
		<integer>20</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,20}</string>
			<string>{20,0}</string>
		</array>
	</dict>
	<key>focused</key>
	<dict>
		<key>fps</key>
		<integer>25</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,25}</string>
			<string>{25,0}</string>
		</array>
	</dict>
	<key>frustrated</key>
	<dict>
		<key>fps</key>
		<integer>30</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,30}</string>
			<string>{30,0}</string>
		</array>
	</dict>
	<key>grateful</key>
	<dict>
		<key>fps</key>
		<integer>30</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,29}</string>
      <string>{29,0}</string>
		</array>
	</dict>
	<key>guilty</key>
	<dict>
		<key>fps</key>
		<integer>30</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,34}</string>
      <string>{34,0}</string>
		</array>
	</dict>
	<key>happy</key>
	<dict>
		<key>fps</key>
		<integer>30</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,30}</string>
		</array>
	</dict>
	<key>inspired</key>
	<dict>
		<key>fps</key>
		<integer>30</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,20}</string>
      <string>{20,0}</string>
		</array>
	</dict>
	<key>invisible</key>
	<dict>
		<key>fps</key>
		<integer>30</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,30}</string>
			<string>{30,0}</string>
		</array>
	</dict>
	<key>lonely</key>
	<dict>
		<key>fps</key>
		<integer>30</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,30}</string>
			<string>{30,0}</string>
		</array>
	</dict>
	<key>meh</key>
	<dict>
		<key>fps</key>
		<integer>30</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,25}</string>
      <string>{25,0}</string>
		</array>
	</dict>
	<key>numb</key>
	<dict>
		<key>fps</key>
		<integer>25</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,25}</string>
			<string>{25,0}</string>
		</array>
	</dict>
	<key>overwhelmed</key>
	<dict>
		<key>fps</key>
		<integer>30</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,18}</string>
      <string>{18,0}</string>
		</array>
	</dict>
	<key>peaceful</key>
	<dict>
		<key>fps</key>
		<integer>30</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,17}</string>
      <string>{17,0}</string>
		</array>
	</dict>
	<key>proud</key>
	<dict>
		<key>fps</key>
		<integer>30</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,30}</string>
		</array>
	</dict>
	<key>relieved</key>
	<dict>
		<key>fps</key>
		<integer>30</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,30}</string>
		</array>
	</dict>
	<key>sad</key>
	<dict>
		<key>fps</key>
		<integer>25</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,25}</string>
		</array>
	</dict>
	<key>scared</key>
	<dict>
		<key>fps</key>
		<integer>25</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,25}</string>
			<string>{25,0}</string>
		</array>
	</dict>
	<key>surprised</key>
	<dict>
		<key>fps</key>
		<integer>30</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,35}</string>
		</array>
	</dict>
	<key>stressed</key>
	<dict>
		<key>fps</key>
		<integer>30</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,30}</string>
		</array>
	</dict>
	<key>uncomfortable</key>
	<dict>
		<key>fps</key>
		<integer>30</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,22}</string>
      <string>{22,0}</string>
		</array>
	</dict>
</dict>
</plist>
