<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angry</key>
	<dict>
		<key>fps</key>
		<integer>10</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,25}</string>
			<string>{25,59}</string>
		</array>
	</dict>
	<key>confident</key>
	<dict>
		<key>fps</key>
		<integer>10</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,31}</string>
			<string>{31,71}</string>
			<string>{71,98}</string>
			<string>{98,71}</string>
			<string>{71,31}</string>
			<string>{31,0}</string>
		</array>
	</dict>
	<key>confused</key>
	<dict>
		<key>fps</key>
		<integer>10</integer>
		<key>intro</key>
		<array>
			<string>{0,21}</string>
		</array>
		<key>loop</key>
		<array>
			<string>{21,39}</string>
			<string>{39,21}</string>
		</array>
	</dict>
	<key>depressed</key>
	<dict>
		<key>fps</key>
		<integer>10</integer>
		<key>intro</key>
		<array>
			<string>{0,27}</string>
		</array>
		<key>loop</key>
		<array>
			<string>{27,52}</string>
			<string>{52,63}</string>
			<string>{63,52}</string>
			<string>{52,27}</string>
		</array>
	</dict>
	<key>embarassed</key>
	<dict>
		<key>fps</key>
		<integer>10</integer>
		<key>intro</key>
		<array>
			<string>{0,17}</string>
		</array>
		<key>loop</key>
		<array>
			<string>{17,44}</string>
		</array>
	</dict>
	<key>frustrated</key>
	<dict>
		<key>fps</key>
		<integer>10</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,6}</string>
			<string>{6,20}</string>
			<string>{20,31}</string>
			<string>{31,20}</string>
			<string>{20,6}</string>
			<string>{6,0}</string>
		</array>
	</dict>
	<key>happy</key>
	<dict>
		<key>fps</key>
		<integer>10</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,7}</string>
			<string>{7,20}</string>
		</array>
	</dict>
	<key>invisible</key>
	<dict>
		<key>fps</key>
		<integer>10</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,10}</string>
			<string>{10,22}</string>
			<string>{22,37}</string>
			<string>{37,22}</string>
			<string>{22,10}</string>
			<string>{10,0}</string>
		</array>
	</dict>
	<key>lonely</key>
	<dict>
		<key>fps</key>
		<integer>10</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,12}</string>
			<string>{12,33}</string>
			<string>{33,41}</string>
			<string>{41,33}</string>
			<string>{33,12}</string>
			<string>{12,0}</string>
		</array>
	</dict>
	<key>proud</key>
	<dict>
		<key>fps</key>
		<integer>10</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,64}</string>
		</array>
	</dict>
	<key>relieved</key>
	<dict>
		<key>fps</key>
		<integer>10</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,44}</string>
		</array>
	</dict>
	<key>stressed</key>
	<dict>
		<key>fps</key>
		<integer>10</integer>
		<key>intro</key>
		<array/>
		<key>loop</key>
		<array>
			<string>{0,38}</string>
		</array>
	</dict>
</dict>
</plist>
