<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angry</key>
	<dict>
		<key>Angry</key>
		<array>
			<string>Focus on controlling your anger first before trying to problem-solve.</string>
			<string>Try to relax your body, stretch or shake off any tension.</string>
			<string>Take a deep breath.</string>
			<string>Count to 10.</string>
			<string>Ask yourself if it’s really worth getting upset over. Will it matter in a week, month, or year?</string>
			<string>Walk away from the situation for a few minutes.</string>
			<string>Think about what you want to say before you say it……….wait at least 5 seconds.</string>
			<string>Take a few moments to stop the angry statements running through your head. Replace them with calming statements.</string>
			<string>Visualize being in a peaceful place.</string>
			<string>Avoid things that always make you mad (if possible.)</string>
		</array>
		<key>Angry in relationships</key>
		<array>
			<string>Share your feelings calmly using “I” statements.</string>
			<string>Don’t raise your voice, if the other person begins to speak loudly, speak more softly in response.</string>
			<string>Remember that you can’t take back what you say. Will you regret it later?</string>
		</array>
	</dict>
	<key>depressed</key>
	<dict>
		<key>Depressed</key>
		<array>
			<string>Set goals—short term and long term.</string>
			<string>Focus forward, not on the past.</string>
			<string>Accept the things you can’t change.</string>
			<string>Take control of the way you look at things.</string>
			<string>Make a blessings list.</string>
			<string>Exercise &amp; eat right.</string>
			<string>Maintain a consistent sleeping schedule.</string>
			<string>Talk to someone about how you are feeling.</string>
			<string>Listen to music.</string>
			<string>Write your feelings in a journal.</string>
			<string>Do something nice for someone else.</string>
			<string>Doing nothing will only feed into your depression and only make you more depressed.</string>
		</array>
	</dict>
	<key>invisible</key>
	<dict>
		<key>Invisible</key>
		<array>
			<string>Talk to someone.</string>
			<string>Write your feelings in a journal.</string>
			<string>Do something nice for someone else.</string>
			<string>Make a list of your best qualities.</string>
			<string>Identify supportive people in your life.</string>
			<string>Take care of yourself.</string>
			<string>Put your best foot forward.</string>
			<string>Make an apology.</string>
			<string>Spend time playing with a pet.</string>
			<string>Try to identify an activity that you can get involved with to meet others with your same interests (music, sports, volunteering at an animal shelter, theatre, etc.)</string>
		</array>
	</dict>
	<key>lonely</key>
	<dict>
		<key>Lonely</key>
		<array>
			<string>Talk to someone.</string>
			<string>Write your feelings in a journal.</string>
			<string>Do something nice for someone else.</string>
			<string>Make a list of your best qualities.</string>
			<string>Identify supportive people in your life.</string>
			<string>Take care of yourself.</string>
			<string>Put your best foot forward.</string>
			<string>Make an apology.</string>
			<string>Spend time playing with a pet.</string>
			<string>Try to identify an activity that you can get involved with to meet others with your same interests (music, sports, volunteering at an animal shelter, theatre, etc.)</string>
		</array>
	</dict>
	<key>confused</key>
	<dict>
		<key>Confused</key>
		<array>
			<string>Identify what is causing your confusion.</string>
			<string>Who can help answer your questions?</string>
			<string>Set goals and focus forward.</string>
			<string>Be patient.</string>
			<string>Talk and or write about what’s confusing you – repeatedly, if you need to.</string>
			<string>Take a break from the confusion when possible. Relax and recharge.</string>
			<string>Identify things that are meaningful to you, what activities make you feel like you are making a difference in the world.</string>
		</array>
	</dict>
	<key>stressed</key>
	<dict>
		<key>Stressed</key>
		<array>
			<string>Identify where your stress is coming from.</string>
			<string>Focus on the here &amp; now.</string>
			<string>Eat well and sleep well.</string>
			<string>Manage your time.</string>
			<string>Make lists.</string>
			<string>Set goals.</string>
			<string>Accept the things you can’t change.</string>
			<string>Take control of the way you look at things.</string>
			<string>Keep a worry journal. When you begin to worry about something, write it down. Sometimes it helps to get it out of your head and written on paper.</string>
			<string>Talk to someone who can help you process what you are going through.</string>
		</array>
		<key>Stressed in relationships</key>
		<array>
			<string>Stay out of pointless drama!</string>
			<string>Learn to say &quot;no.&quot;</string>
			<string>Think about what you want to say before you say it……….wait at least 5 seconds.</string>
			<string>Share your feelings calmly using “I” statements.</string>
			<string>Don’t raise your voice.</string>
			<string>Remind yourself that you can&apos;t take back what you say. Will you regret it later?</string>
		</array>
		<key>Stressed in life situations</key>
		<array>
			<string>Take responsibility for your behavior. If you make a mistake, correct it. Apologize, if necessary. People are less likely to be mad at you if you own up to the mistake.</string>
			<string>Forgive yourself for making mistake or for your imperfections.</string>
			<string>Set yourself up for success. Set some small, realistic goals that you can accomplish.</string>
			<string>Learn to say positive things to yourself. Instead of cutting yourself down, build yourself up. Tell yourself that you are a good person, that you will keep trying, or that you are going to remain calm.</string>
			<string>Learn to solve your own problems. Realize that when you make good decisions you gain more control over what happens to you.</string>
			<string>Respect yourself. Stick with what you know is right. Don’t let others talk you into doing something for the sake of popularity or status.</string>
			<string>Be friendly, helpful, and cooperative; that’s what really counts.</string>
			<string>Learn to be assertive. Being assertive can help you get what you want without hurting others or making a scene.</string>
		</array>
	</dict>
	<key>frustrated</key>
	<dict>
		<key>Frustrated</key>
		<array>
			<string>Give yourself 10 minutes twice a day to worry about things…….after that, whenever you notice yourself worrying, tell yourself it will still be there tomorrow.</string>
			<string>Keep a worry journal. When you begin to worry about something, write it down. Sometimes it helps to get it out of your head and written on paper.</string>
			<string>Take a deep breath. Try to relax.</string>
			<string>Close your eyes and count to 10.</string>
			<string>Replace negative statements running through your mind with reality statements and calming thoughts.</string>
			<string>Visualize being in a peaceful place.</string>
			<string>Get some exercise.</string>
		</array>
	</dict>
	<key>embarrassed</key>
	<dict>
		<key>Embarrassed</key>
		<array>
			<string>Embarrassment is a result of negative thoughts we have about ourselves or situations. Everybody is embarrassed sometimes and that’s okay!</string>
			<string>Use positive self-talk when you begin to feel embarrassment. Tell yourself that you are a good person, that you will keep trying, or that you are going to remain calm.</string>
			<string>Do something nice for someone else.  Whenever you help someone else, you take the focus off of you, and can help yourself feel better.</string>
		</array>
	</dict>
	<key>numb</key>
	<dict>
		<key>Numb</key>
		<array>
			<string>Exercise &amp; eat right.</string>
			<string>Maintain a consistent sleeping schedule.</string>
			<string>Talk to someone about how you are feeling.</string>
			<string>Listen to music.</string>
			<string>Write your feelings in a journal.</string>
			<string>Do something nice for someone else.</string>
			<string>Make a list of your best qualities.</string>
			<string>Identify supportive people in your life.</string>
			<string>Take care of yourself.</string>
			<string>Put your best foot forward.</string>
			<string>Spend time playing with a pet.</string>
		</array>
	</dict>
	<key>sad</key>
	<dict>
		<key>Sad</key>
		<array>
			<string>Set goals—short term and long term.</string>
			<string>Focus forward, not on the past.</string>
			<string>Accept the things you can’t change.</string>
			<string>Take control of the way you look at things.</string>
			<string>Make a blessings list.</string>
			<string>Exercise &amp; eat right.</string>
			<string>Maintain a consistent sleeping schedule.</string>
			<string>Talk to someone about how you are feeling.</string>
			<string>Listen to music.</string>
			<string>Do something nice for someone else.</string>
			<string>Spend time playing with a pet.</string>
		</array>
	</dict>
	<key>scared</key>
	<dict>
		<key>Scared</key>
		<array>
			<string>Talk to someone about how you are feeling.</string>
			<string>Take a deep breath.</string>
			<string>Visualize being in a peaceful place.</string>
			<string>Avoid things that scare you (if possible.)</string>
			<string>Try to relax your body, stretch or shake off any tension.</string>
			<string>Set yourself up for success. Set some small, realistic goals that you can accomplish.</string> 
			<string>Learn to solve your own problems. Realize that when you make good decisions you gain more control over what happens to you.</string> 
			<string>Respect yourself. Stick with what you know is right. Don’t let others talk you into doing something for the sake of popularity or status.</string>
		</array>
	</dict>
	<key>fine</key>
	<dict>
		<key>Fine</key>
		<array>
			<string>Talk to someone.</string>
			<string>Do something nice for someone else.</string>
			<string>Identify supportive people in your life.</string> 
			<string>Take care of yourself.</string> 
			<string>Spend time playing with a pet.</string>
			<string>Try to identify an activity that you can get involved with to meet others with your same interests (music, sports, volunteering at an animal shelter, theatre, etc.)</string>
			<string>Make a shopping or travel wish list by browsing the internet.</string>
			<string>Draw, paint, write a poem—or just create something.</string>
			<string>Go outside and take a walk or run.</string>
		</array>
	</dict>
	<key>bored</key>
	<dict>
		<key>Bored</key>
		<array>
			<string>Talk to someone.</string>
			<string>Do something nice for someone else.</string>
			<string>Identify supportive people in your life.</string> 
			<string>Take care of yourself.</string> 
			<string>Spend time playing with a pet.</string>
			<string>Try to identify an activity that you can get involved with to meet others with your same interests (music, sports, volunteering at an animal shelter, theatre, etc.)</string>
			<string>Make a shopping or travel wish list by browsing the internet.</string>
			<string>Draw, paint, write a poem—or just create something.</string>
			<string>Go outside and take a walk or run.</string>
		</array>
	</dict>
	<key>anxious</key>
	<dict>
		<key>Anxious</key>
		<array>
			<string>Give yourself 10 minutes twice a day to worry about things……after that, whenever you notice yourself worrying, tell yourself it will still be there tomorrow.</string>
			<string>Take a deep breath.  Try to relax.</string>
			<string>Close your eyes and count to 10.</string>
			<string>Replace negative statements running through your mind with reality statements and calming thoughts.</string> 
			<string>Visualize being in a peaceful place.</string>
			<string>Try to relax your body, stretch or shake off any tension.</string>
			<string>Set yourself up for success. Set some small, realistic goals that you can accomplish.</string>
		</array>
	</dict>
	<key>disgusted</key>
	<dict>
		<key>Disgusted</key>
		<array>
			<string>Visualize being in a peaceful place.</string>
			<string>Replace negative statements running through your mind with reality statements and calming thoughts.</string> 
			<string>Try to relax your body, stretch or shake off any tension.</string>
			<string>Make an apology.</string>
			<string>Talk to someone.</string>
			<string>Do something nice for someone else.</string>
			<string>Focus forward, not on the past.</string>
			<string>Accept the things you can’t change.</string>
			<string>Be patient.</string>
			<string>Replace negative statements running through your mind with reality statements and calming thoughts.</string>
		</array>
	</dict>
  <key>annoyed</key>
  <dict>
    <key>Annoyed</key>
    <array>
      <string>Close your eyes and count to 10.</string>
      <string>Ask yourself if it’s really worth feeling so annoyed. Will it matter in a week, month, or year?</string>
      <string>Walk away from the situation for a few minutes.</string>
      <string>Remember that you can’t take back what you say. Will you regret it later?</string>
      <string>Try to relax your body, stretch or shake off any tension.</string>
      <string>Visualize being in a peaceful place.</string>
      <string>Take a deep breath.</string>
      <string>Stop reading or watching whatever is annoying you--unplug yourself!</string>
      <string>Spend time with family or close friends for support when the world or local events are troubling you.</string>
      <string>Talk to a trusted adult about your feelings. Or contact a counselor at Your Life Your Voice.</string>
    </array>
  </dict>
  <key>cautious</key>
  <dict>
    <key>Cautious</key>
    <array>
      <string>Replace negative statements running through your mind with reality statements and calming thoughts.</string>
      <string>Focus forward, not on the past.</string>
      <string>Take control of the way you look at things.</string>
      <string>Talk to someone about how you are feeling.</string>
      <string>Write your feelings in a journal.</string>
      <string>Identify what is making you feel cautious. Is it the situation, person, environment, etc?</string>
      <string>Learn to say &quot;no.&quot;</string>
      <string>Respect yourself. Stick with what you know is right. Don’t let others talk you into doing something for the sake of popularity or status.</string>
      <string>Learn to be assertive. Being assertive can help you get what you want without hurting others or making a scene.</string>
      <string>Identify what is making you feel cautious.</string>
      <string>Talk to someone who can help you process what you are going through.</string>
    </array>
  </dict>
  <key>meh</key>
  <dict>
    <key>Meh</key>
    <array>
      <string>Imagine your situation being better, healthier, and happier no matter how good things may already be.</string>
      <string>Happiness comes from within. We are responsible for nurturing it!</string>
      <string>Things don’t make people happy.  Meaning, value and strength come from within you.</string>
      <string>No one else can give you happiness, and no one else can take it away.</string>
      <string>Give yourself time to evaluate your thoughts and feelings before you make decisions.</string>
      <string>Do something nice for someone else. Whenever you help someone else, you take the focus off of you, and can help yourself feel better.</string>
      <string>Let your mind take a break for a while and do something good for others.</string>
      <string>Take control of the way you look at things.</string>
      <string>Set yourself up for success. Set some small, realistic goals that you can accomplish.</string>
      <string>Be friendly, helpful, and cooperative; that’s what really counts.</string>
      <string>Get some exercise.</string>
      <string>Spend time playing with a pet.</string>
      <string>Make a blessings list.</string>
      <string>Visit a friend.</string>
      <string>Talk to someone.</string>
    </array>
  </dict>
  <key>overwhelmed</key>
  <dict>
    <key>Overwhelmed</key>
    <array>
        <string>Take a deep breath. Try to relax.</string>
        <string>Replace overwhelming thoughts running through your mind with reality statements and calming thoughts.</string>
        <string>Try to relax your body, stretch or shake off any tension.</string>
        <string>Visualize being in a peaceful place.</string>
        <string>Focus forward, not on the past.</string>
        <string>Accept the things you can’t change.</string>
        <string>Focus on controlling your thoughts first before trying to problem-solve.</string>
        <string>Take control of the way you look at things.</string>
        <string>Make a blessings list.</string>
        <string>Listen to music.</string>
        <string>Write your feelings in a journal.</string>
        <string>Talk to someone about how you are feeling.</string>
        <string>Maintain a consistent sleeping schedule.</string>
        <string>Take care of yourself.</string>
        <string>Take a break from the situation when possible. Relax and recharge.</string>
        <string>No one else can give you happiness, and no one else can take it away.</string>
        <string>Respect yourself. Stick with what you know is right. Don’t let others talk you into doing something for the sake of popularity or status.</string>
        <string>Learn to say &quot;no.&quot;</string>
        <string>Identify what is making you feel so overwhelmed.</string>
    </array>
  </dict>
  <key>guilty</key>
  <dict>
    <key>Guilty</key>
    <array>
      <string>Identify what is causing your guilty feelings and thoughts.</string>
      <string>Focus forward, not on the past.</string>
      <string>Replace negative statements running through your mind with reality statements and calming thoughts.</string>
      <string>Make an apology.</string>
      <string>Do something nice for someone else.</string>
      <string>Accept the things you can’t change.</string>
      <string>Take control of the way you look at things.</string>
      <string>Talk to someone about how you are feeling.</string>
      <string>Make a list of your best qualities.</string>
      <string>Talk and or write about what’s making you feel guilty – repeatedly, if you need to.</string>
      <string>Identify things that are meaningful to you, what activities make you feel like you are making a difference in the world.</string>
      <string>Talk to someone who can help you process what you are going through.</string>
      <string>Take responsibility for your behavior. If you make a mistake, correct it. Apologize, if necessary. People are less likely to be mad at you if you own up to the mistake.</string>
      <string>Forgive yourself for making mistake or for your imperfections.</string>
      <string>Learn to say positive things to yourself. Instead of cutting yourself down, build yourself up. Tell yourself that you are a good person and that you will keep trying.</string>
    </array>
  </dict>
  <key>uncomfortable</key>
  <dict>
    <key>Uncomfortable</key>
    <array>
      <string>Identify what is causing your discomfort.</string>
      <string>Stay out of pointless drama!</string>
      <string>Take control of the way you look at things.</string>
      <string>Write your feelings in a journal.</string>
      <string>Focus forward, not on the past.</string>
      <string>Accept the things you can’t change.</string>
      <string>Talk to someone about how you are feeling.</string>
      <string>Walk away from the situation for a few minutes.</string>
      <string>Ask yourself if it’s really worth getting upset over. Will it matter in a week, month, or year?</string>
      <string>Visualize being in a peaceful place.</string>
      <string>Give yourself 10 minutes twice a day to worry about things…… .after that, whenever you notice yourself worrying, tell yourself it will still be there tomorrow.</string>
      <string>Put your best foot forward.</string>
      <string>Avoid situations that can make you feel uncomfortable (if possible.)</string>
      <string>Replace negative statements running through your mind with reality statements and calming thoughts.</string>
      <string>Take a deep breath.</string>
      <string>Make a blessings list.</string>
      <string>Take a break from the situation when possible. Relax and recharge.</string>
      <string>Talk to someone who can help you process what you are going through.</string>
      <string>Forgive yourself for making mistake or for your imperfections.</string>
      <string>Respect yourself. Stick with what you know is right. Don’t let others talk you into doing something for the sake of popularity or status.</string>
      <string>Be friendly, helpful, and cooperative; that’s what really counts.</string>
    </array>
  </dict>
  <key>exhausted</key>
  <dict>
    <key>Exhausted</key>
    <array>
      <string>Exercise &amp; eat right.</string>
      <string>Maintain a consistent sleeping schedule.</string>
      <string>Take care of yourself.</string>
      <string>Accept the things you can’t change.</string>
      <string>Talk to someone about how you are feeling.</string>
      <string>Try to relax your body, stretch or shake off any tension.</string>
      <string>Visualize being in a peaceful place.</string>
      <string>Set yourself up for success. Set some small, realistic goals that you can accomplish.</string>
      <string>Take control of the way you look at things.</string>
      <string>Take a break from what’s causing you to feel exhausted when possible. Relax and recharge.</string>
      <string>Focus on the here &amp; now.</string>
      <string>Talk to someone who can help you process what you are going through.</string>
      <string>Learn to say &quot;no.&quot;</string>
      <string>Close your eyes and count to 10.</string>
      <string>Organize your thoughts and decide what one thing you would like to work on first. Don’t attempt to solve all of your problems at once.</string>
      <string>Take time to recharge. Watch a funny movie, spend some time alone, or sleep a few extra hours this weekend.</string>
    </array>
  </dict>
</dict>
</plist>
