<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.2.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d85dd506142e5a1f763c83e7a2905fbb:a839a826fe0e526b36caad5dcc9f5902:9756f4a2d9be32fdba8d2dd481c7832c$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>confident.1.png</string>
                <key>size</key>
                <string>{2112,1760}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00059.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00060.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00058.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00057.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00056.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1,1057},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00055.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1,1409},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00054.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00053.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00052.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00051.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,1057},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00050.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{353,1409},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00049.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{705,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00048.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1057,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00047.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1409,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00046.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1761,1},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00045.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{705,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00044.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{705,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00043.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{705,1057},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00042.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{705,1409},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00041.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1057,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00040.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1409,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00039.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1761,353},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00038.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1057,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00037.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1057,1057},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00036.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1057,1409},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00035.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1409,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00034.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1761,705},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00033.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1409,1057},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00032.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1409,1409},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00031.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1761,1057},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>face-confident_00030.png</string>
                        <key>spriteOffset</key>
                        <string>{20,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{400,400}</string>
                        <key>textureRect</key>
                        <string>{{1761,1409},{350,350}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
